<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <h1>Chat App</h1>
    <div id="parent">
        <div id="peoples">
            <ul>
                <li>Rohan: hiii</li>
                <li>You: hii rohan</li>
                <li>Rohan: whatsupp guys</li>
                <li>You: yppp!</li>
                <li>Rohan: Doing Greate!</li>
                <li>You: yes!!</li>
            </ul>
        </div>
        <div id="msg">
            <form>
                <input type="text" id="message" placeholder="enter message...." required>
                <input id="submit" type="submit" value="Send">
            </form>
        </div>
    </div>
</body>

</html>