#parent {
  width: 40%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 80px auto;
  height: 400px;
}

#parent>span {
  position: relative;
  bottom: 30px;
  left: 56px;

}

#parent a {
  text-decoration: none;
}

h2 {
  text-align: center;
  position: relative;
  top: 26px;
  color: coral;
}

label {
  font-weight: 600;
  position: relative;
  top: 10px;
  font-size: 17px;
  color: coral;
}

form {
  display: grid;
  gap: 20px;
  width: 80%;
  margin: 50px auto;
}

input {
  padding: 7px;
  outline: none;
  width: 100%;
}

#btn {
  background-color: coral;
  color: white;
  border: none;
  cursor: pointer;
  width: 130px;
  padding: 10px;
  margin-top: 1px;
  border-radius: 5px;
}

#forgot-password {
  background-color: white;
}

.signin-link {
  color: coral;
}

.signin-link>a:hover {
  background-color: white;
}