<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <h2 class="mt-4">Password Reset Form</h2>

        <form id="resetForm" class="mt-4">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <input id="hidden" type="hidden" value="<%= userId %>">
            <div class="form-group">
                <label for="pwd">Enter new Password : </label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            document.getElementById('resetForm').addEventListener('submit', async function (e) {
                e.preventDefault();

                var password = document.getElementById('pwd').value;
                var email = document.getElementById('email').value;
                var userId = document.getElementById('hidden').value;

                await axios.post('http://localhost:9000/password/update', {
                    password: password, email: email, userId
                })
                    .then(function (response) {
                        console.log('res>>', response);
                        window.location.href = '/users/sign-in'

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            });
        </script>
    </div>
</body>

</html>