#parent {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 350px;
    width: 40%;
    margin: auto;
}

#parent form {
    display: grid;
    margin: 40px auto;
}

form input,
button {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    outline: none;
}

button {
    width: 85%;
    padding: 10px;
    background-color: coral;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

label {
    font-weight: 600;
    font-size: 20px;
    position: relative;
    left: 42px;
    top: 10px;
    color: coral;
}

h2 {
    text-align: center;
    margin: 50px auto;
    color: coral;
}