#parent {
    height: 50%;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 50px auto;
}

form {
    display: grid;
}

form input,
button {
    width: 80%;
}

#email {
    margin: 110px auto;
    padding: 12px;
    outline: none;
}

#btn {
    margin: auto;
    margin-top: -70px;
    padding: 12px;
    width: 80%;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
}

label {
    position: relative;
    top: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: coral;
}

h1 {
    text-align: center;
    margin-top: 70px;
    color: coral;
}