h1 {
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
    width: 50%;
}



thead {
    background-color: teal;

}

th {
    color: white;
    padding: 6px;
    border: 1px solid black;
}

td {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 7px;
} 