/* basic table:- */
table {
    margin-left: 750px;
    width: 40%;
    margin-top: -445px;
}

table th {
    background-color: teal;
    color: white;
    padding: 10px;
}

td {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 8px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

/* delete and update:- */
#delete {
    background-color: rgb(228, 71, 71);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#update {
    background-color: rgb(33, 206, 76);
    color: white;
}

/* for html form:-  */


form {
    display: grid;
    width: 80%;
    gap: 45px;
    margin: 60px auto;
}

input,
select {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid black;
}

#form {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    height: 400px;
    margin: 40px;
    margin-top: 60px;
    margin-left: 100px;
}


#btn{
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}