<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/forgot-password.css">
</head>

<body>
    <div>
        <a href="/">
            <img style="width: 30px; height: 30px; "
                src="https://cdn-icons-png.flaticon.com/128/263/263115.png" alt="">
        </a>

    </div>
    <h1>Forgot Password </h1>
    <div id="parent">
        <form id="resetForm">
            <label for="">Please enter a valid email....</label>
            <input id="email" type="email" id="email" name="email" placeholder="Enter your email......." required>
            <button id="btn" style="cursor: pointer;" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>

<script>

    document.getElementById('resetForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var email = document.getElementById('email').value;
        axios.post('http://localhost:9000/password/forgotpassword', {
            email: email
        }).then((res) => {
            alert("password reset link sended successfully!!")
            document.getElementById('email').value = ""
        }).catch(function (error) {
            alert("username does't exist !!")
            document.getElementById('email').value = ""
        });
    });

</script>