<title>
    <%= locals.title %>
</title>
<link rel="stylesheet" href="/css/sign-up.css">

<%- include("_header.html") %>
    <div id="parent">
        <h2>Register</h2>
        <form action="/users/create-user" method="post">
            <label for="">Name</label>
            <input type="text" name="Name" placeholder="Name" required>
            <label for="">Email</label>
            <input type="email" name="Email" placeholder="Email" required>
            <label for="">Phone</label>
            <input type="number" name="Phone" placeholder="Phone" required>
            <label for="">Password</label>
            <input type="password" name="Password" placeholder="Password" required>
            <label for="">Confirm Password</label>
            <input type="password" name="Confirm_Password" placeholder="Confirm Password" required>
            <input id="btn" type="submit" value="Sign-up" />
        </form>
        <span>Have an account? <a href="/users/sign-in">Login here</a></span>
    </div>