<h1>sign-up page</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="enter name">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="password" name="confirm_password" placeholder="confrim password" required>
    <input type="submit" value="Sign-up">
</form>