<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Form</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>

<body>

    <h2>Reset Your Password</h2>
    <div id="parent">
        <form id="resetForm">
            <label for="">Your current email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input id="hidden" type="hidden" value="<%= userId %>">
            <label for="">Enter new password</label>
            <input type="password" id="pwd" placeholder="New password" name="pswd">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        document.getElementById('resetForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            var password = document.getElementById('pwd').value;
            var email = document.getElementById('email').value;
            var userId = document.getElementById('hidden').value;

            let res = await axios.post('http://localhost:9000/password/update', {
                password: password, email: email, userId
            })


            if (res.data.reset) {
                alert("password reset successfully!!")
                window.location.href = '/users/sign-in'
            } else {
                alert("username does't exist !!")
                location.reload();
            }

        });
    </script>
    </div>
</body>

</html>