<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>


<body>
   
    <%- include("_header.html") %>
        <h5 id="special"><%= username %></h5>
        <div id="parent">
            <div id="left-side">
                <div id="groups-details">
                    <!--  -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        My Groups
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Groups.....</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <!--  -->
                                    <% for(let i of groups) {%>
                                        <div class="a" style="display: flex;">
                                            <h3>
                                                <li>

                                                    <h2 style="font-weight: 1300; color: rgba(129, 33, 218, 0.993);">
                                                        <%= i.name %>
                                                    </h2>

                                                </li>
                                            </h3>
                                        </div>
                                        <div class="a">
                                            <% for(let j of user) {%>
                                                <div id="buttonContainer" style="display: flex;">
                                                    <li >
                                                        <%= j.name %>
                                                    </li>
                                                    <span class="s"></span>
                                                    <% if(j.name != username){%>
                                                        <button style="cursor: pointer;" class="members">Join<span class="hide-g" hidden><%= j.id %> in <%= i.id %></span>
                                                        </button>
                                                        <button class="make-user-admin">Make Admin <span class="AV" hidden><%= j.id %> in <%= i.id %></span></button>
                                                    <%}%> 
                                                    <span class="s"></span>
                                                    <% if(j.name === username){%>
                                                        <p style="font-weight: 700; color: green;">Admin</p>
                                                    <%}%>   
                                                </div>
                                                <hr>
                                            <%}%>
                                        </div>
                                    <%}%>

                                   
                                    <% for(let i of g) {%>
                                        <% for(let k of admin) {%>
                                          <% if(i.id == k.groupId && k.userId == userId && i.userId != userId) {%>
                                            <div class="a" style="display: flex;">
                                                <h3>
                                                    <li>
                                                        <h2 style="font-weight: 1300; color: rgba(129, 33, 218, 0.993);">
                                                            <%= i.name %>
                                                        </h2>
                                                    </li>
                                                </h3>
                                            </div>
                                            <div class="a">
                                                <% for(let j of user) {%>
                                                    <div id="buttonContainer" style="display: flex;">
                                                        <li >
                                                            <%= j.name %>
                                                        </li>
                                                        <span class="s"></span>
                                                        <% if(j.name != username){%>
                                                            <button style="cursor: pointer;" class="members">Join<span class="hide-g" hidden><%= j.id %> in <%= i.id %></span>
                                                            </button>
                                                            <button class="make-user-admin">Make Admin <span class="AV" hidden><%= j.id %> in <%= i.id %></span></button>
                                                        <%}%> 
                                                        <span class="s"></span>
                                                        <% if(j.name === username){%>
                                                            <p style="font-weight: 700; color: green;">Admin</p>
                                                        <%}%>   
                                                    </div>
                                                    <hr>
                                                <%}%>                                  
                                            </div>
                                          <%}%>  
                                        <%}%>  
                                    <%}%>    
                                  
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                    <% for(let i of uGroup) {%>
                        <a class="g" href="/users/profile/?id=<%= i.groupId %>">
                            <li class="a">
                                <%= i.groupname %>
                            </li>
                            <hr>
                        </a>
                    <%}%>
                </div>

                <div id="create-group-form">
                    <form id="group-form">
                        <input type="text" id="name" placeholder="Create new group" required>
                        <input id="btn" type="submit" value="Create Group">
                    </form>
                </div>
            </div>

            <div hidden>
                <div id="hide-user-id">
                    <%= userId %>
                </div>
                <div id="hide-group-id">
                    <%= groupId %>
                </div>
                <div id="hide-user-name">
                    <%= username %>
                </div>
            </div>


            <% if(id) {%>
                <div id="right-side">
                    <div id="room">
                       <div id="plate">
                        <h2 ><%= groupName %></h2>
                        <% for(let j of g) {%>
                            <% if(j.id == id && j.userId != userId) {%>
                                <button class="leave-group">Leave Group<span hidden><%= groupName %></span></button> 
                            <%}%>           
                        <%}%>    
                       </div>
                        <% for(let i of rMessage) {%>
                            <div id="incoming">
                                <% for(let j of A) {%>
                                    <% if(j.userid != i.userId) {%>
                                        <span>
                                            <%= i.sender %>
                                        </span>
                                        <h4>
                                            <i>
                                                <%= i.message %>
                                            </i>
                                        </h4>
                                        <p class="space"></p>
                                    <%}%>
                                <%}%>
                            </div>
                            <div id="outgoing">
                                <% for(let j of A) {%>
                                    <% if(j.userid == i.userId) {%>
                                        <span>
                                            <%= i.sender %>
                                        </span>
                                        <h4>
                                            <i>
                                                <%= i.message %>
                                            </i>
                                        </h4>
                                        <p class="space"></p>
                                    <%}%>
                                <%}%>
                            </div>
                        <%}%>
                    </div>

                    <div id="message-form">
                        <form id="msg-form">
                            <textarea id="textarea" cols="30" rows="1" required
                                placeholder="Write a message...."></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            <%}%>

        </div>


        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <script src="/js/profile.js"></script>
</body>

</html>