<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <h1>Forgot Password </h1>
    <form id="resetForm">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button style="cursor: pointer;" type="submit">Submit</button>
    </form>

</body>

</html>

<script>

    document.getElementById('resetForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var email = document.getElementById('email').value;
        axios.post('http://localhost:9000/password/forgotpassword', {
            email: email
        })
    });

</script>